# 测试环境配置

# 数据库连接配置
# 使用mysql数据库、druid数据库连接池
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/cc?useUnicode=true&charaacterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: 123456
      # 获取连接超时等待时间
      max-wait: 60000
      # 间隔多久进行一次检测，关闭空闲的连接
      time-between-eviction-runs-millis: 60000
      # 一个连接在池中的最小生存时间
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      # 打开PSCache，并指定每个PSCache的大小。oracle设置为true，mysql设置为false，分库分表较多推荐使用false
      pool-prepared-statements: false
      max-pool-prepared-statement-per-connection-size: 20
      # es配置
      # 配置监控统计拦截的filters，去掉后监控页面sql无法统计，‘wall’用于防火墙
      filters: stat,wall
      # 配置初始化大小/最小/最大
      initial-size: 1
      min-idle: 1
      max-active: 20
  thymeleaf:
    prefix: classpath:templates/
    check-template-location: true
    suffix: .html
    encoding: utf-8
    cache: false

# mybatis连接配置
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.coco.cc.model
  config-location: classpath:mapper-config.xml
